template element TextArea(KillsTemplate)
{
 left 0.245
 width 0.153
 top 0.045
 height 0.06
 char_height 0.04
 alignment center
 font_name TrebuchetMSBold
}

MainOverlay
{
	container Panel(TMP)
    {
      transparent true
      element TextArea(TMPTEXT) 
      {
            font_name TrebuchetMSBold
            caption blablablab
      } 
    } 

    container Panel(MainContainer)
    {
        transparent true
        left 0
        top 0
        width 1
        height 1
		
		element TextArea(Score) 
        {
            left 0.02
            width 0.2
            top 0.02
            height 0.06
            char_height 0.04
            font_name TrebuchetMSBold
            caption 0/0
        }
    }
}

